<html>
  <head>
    <title>TACACS+ configuration and monitoring utility</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  </head>
  <body>
    <script>
      var groups_all = [];
      function select_group(group_id) {
        for (var i = 0; i < groups_all.length; i++) {
          if (group_id == groups_all[i]["id"]) {
            $("#group").val(groups_all[i]["name"]);
            $("#group_id").val(group_id);
            $("#groups").css("display", "none");
            $.getJSON("/tac_plus/add_group_to_user/", {
              user_id: $("#user_id").val(),
              group_id: $("#group_id").val()
            })
            .done(function(data) {
              location.reload(); 
            });
            
          }
        }
        return false;
      }
      function search_groups() {
        if ($("#group").val() == "") {
          $("#groups").css("display", "none");
        }
        $.getJSON("/tac_plus/groups_json/", {
          group: $("#group").val()
        })
        .done(function(groups) {
          groups_all = groups;
          var html = "<table class='table table-dark'><thead><tr><td>Action</td><td>Group name</td></tr></thead><tbody>"
          $.each(groups, function(i, group) {
            html += "<tr><td>";
            html += "<a href='' onclick='select_group(" + group["id"] + "); event.preventDefault()'>Add</a>";
            html += "</td><td>"
            html += group["name"]
            html += "</td></tr>";
          });
          html += "</tbody></table>";
          $("#groups").html(html);
          $("#groups").css("display", "block");
        });
      }
    </script>
    <div class="header">
      <div class="link"><a href="/tac_plus/configurations/">Configurations</a></div>
      <div class="link"><a href="/tac_plus/users/">Users</a></div>
      <div class="link"><a href="/tac_plus/groups/">Groups</a></div>
      <div class="link"><a href="/tac_plus/commands/">Commands</a></div>
      <div class="link"><a href="/tac_plus/system/">System</a></div>
      <div class="link"><a href="/statistics/">Statistics</a></div>
      <div class="link"><a href="/auth/logout/">Logout</a></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <form method="POST" action="." accept-charset="UTF-8">
          <div class="form-group">
            <input type="hidden" class="form-control" id="user_id" name="user_id" value="{{user.id}}">
          </div>
          <div class="form-group">
            <label for="user_name">Username name</label>
            <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Username" value="{{user.name}}">
          </div>
          <div class="form-group">
            <label for="password">Encrypted password</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="Password" value="{{user.password}}">
          </div>
          <div class="form-group">
            <label for="user_groups">Groups added to user</label>
            <div id="user_groups" class="form-group">
              <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <td>Group name</td>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody>
                  {% for group in groups %}
                    <tr>
                      <td>{{ group.name }}</td>
                      <td><a href="/tac_plus/delete_group_from_user/?user_id={{ user.id }}&group_id={{group.id}}">Delete</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group">
            <label for="group">Group to add</label>
            <input type="text" class="form-control" id="group" name="group" autocomplete="off" placeholder="Type the group" onkeypress="search_groups()">
            <div id="groups">
            </div>
          </div>
          <div class="form-group">
            <input type="hidden" class="form-control" id="group_id" name="group_id">
          </div>
          <button type="submit" class="btn btn-primary form-control">Update</button>
        </form>
      </div>
      <div class="col-1"></div>
    </div>
</body>