<html>
  <head>
    <title>TACACS+ configuration and monitoring utility</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  </head>
  <body>
    <div class="header">
      <div class="link"><a href="/tac_plus/configurations/">Configurations</a></div>
      <div class="link"><a href="/tac_plus/users/">Users</a></div>
      <div class="link"><a href="/tac_plus/groups/">Groups</a></div>
      <div class="link"><a href="/tac_plus/commands/">Commands</a></div>
      <div class="link"><a href="/tac_plus/system/">System</a></div>
      <div class="link"><a href="/statistics/">Statistics</a></div>
      <div class="link"><a href="/auth/logout/">Logout</a></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <a href="/tac_plus/add_user/" class="btn btn-primary form-control">Add new user</a>
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <td>User name</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td>{{ user.name }}</td>
                <td><a href="/tac_plus/delete_user/?user_id={{ user.id }}">Delete</a><br/><a href="/tac_plus/edit_user/?user_id={{ user.id }}">Edit</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-1"></div>
    </div>
</body>
