[Unit]
Description=TACACS+ GUI deamon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=www-data

WorkingDirectory=/opt/tacacsgui/
ExecStart=/usr/bin/python3 /opt/tacacsgui/run.py

[Install]
WantedBy=multi-user.target
